@use "../util"as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    height: 50%;
    @include breakpoint(desktop) {
      flex-direction: row;
      margin: auto;
      max-width: 100vh;
      max-height: 100vh;
      border-radius: 13px;
    }
  }
}
