@use "../util"as *;

body {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  @include breakpoint(desktop) {
    text-align: center;
    height: 100vh;
  }
  min-width: fit-content;
  .wrapper {
    display: grid;
    overflow: hidden;
    @include breakpoint(mobile) {
      grid-template-rows: repeat(2, 1fr);
    }
    @include breakpoint(desktop) {
      margin: auto;
      border-radius: 17px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      width: 52%;
      height: 67vh;
    }
  }
}
