$bp-min: (
  mobile: 320px,
  tablet: 481px,
  desktop: 1200px,
);
$bp-max: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1920px,
);

@mixin queryMax($display) {
  @each $key, $value in $bp-max {
    @if ($display==$key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}

@mixin queryMin($display) {
  @each $key, $value in $bp-min {
    @if ($display==$key) {
      @media (min-width: $value) {
        @content;
      }
    }
  }
}
