@use "../util"as *;

.phone {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  @include breakpoint(desktop) {
  }
  &__header {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  &__image {
    max-height: 45vh;
    @include breakpoint(desktop) {
      max-height: fit-content;
    }
    img {
      height: 45vh;
      width: 83vw;
      @include breakpoint(desktop) {
      }
    }
  }
}
