@use "../util"as *;

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //flex-basis: (100%)/2;
  &__header {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .htitle {
    }
  }
  &__image {
    img {
      height: 40vh;
      width: 80vw;
    }
  }
}
